body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/static/images/photo2.jpg") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    background: #6b6b4c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

.nav-links a:hover {
    background: white;
    color: #004080;
    border-radius: 5px;
}

.container {
    text-align: center;
    color: white;
    /* background: rgba(74, 145, 226, 0.6); */
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}
