{% extends "users/manager_dashboard.html" %}
{% load static%}
{% block title%}
    Bank - Accounts_list
{% endblock title%} 

{% block logo%}
    Service Representative
{% endblock logo%} 
{% block extracss%}<link rel="stylesheet" href="{% static 'accounts/css/style1.css' %}">{% endblock extracss%}

{% block content%}
<table>
        <tr>
           <th>Account Number</th>
           <th>Account Holder</th>
           <th>Account Type</th>
           <th>Balance</th>
           <th>Date opened</th>
        </tr>
        {% for account in accounts %}
            <tr>
            <td>
                <a href="/accounts/{{account.id}}/detail/" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='blue'">{{account.account_no}}</a>    
            </td>
            <td>
                {{account.account_holder}} {% comment %} <a href="/app4/{{student.id}}/update/">Update</a>
                <a href="/app4/{{student.id}}/delete/">Delete</a> {% endcomment %}
            </td>
            <td>
                {{account.account_type}}
            </td>
            <td>
                {{account.balance}}
            </td>
            <td>
                {{account.date_opened}}
            </td>
            </tr>
        {% endfor %}
</table> 
<div class="button-container">
    <button><a href="/accounts/accounts_form/">New Account</a></button>
</div>   
{% endblock content%} 









{% comment %} <div class="container">
    <table>
        <button><a href="/accounts/accounts_form/">New Account</a></button>
            <tr>
               <th>Account Number</th>
               <th>Account Holder</th>
               <th>Account Type</th>
               <th>Balance</th>
               <th>Date opened</th>
            </tr>
            {% for account in accounts %}
            <tr>
               <td>
                   <a href="/accounts/{{account.id}}/detail/" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='blue'">{{account.account_no}}</a>    
               </td>
               <td>
                  {{account.account_holder}} {% comment %} <a href="/app4/{{student.id}}/update/">Update</a>
                   <a href="/app4/{{student.id}}/delete/">Delete</a> {% endcomment %}
               {% comment %} </td>
               <td>
                   {{account.account_type}}
               </td>
               <td>
                   {{account.balance}}
               </td>
               <td>
                   {{account.date_opened}}
               </td>
            </tr>
            {% endfor %}
    </table>    
    </div>
</div>
    
</body>
</html> {% endcomment %} 